html {
  height: 100%;
  body {
    background-color: #eeeeee;
    font-family: 'Roboto';
    height: 100%;

    .container {
      width: 100%;
      height: 100%;
      display: table;

      .center-container {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
      }
    }

    .page-title {
      margin: 0;
      font-size: 22px;
    }

    .footer {
      text-align: right;
      width: 100%;
    }

    @import "cv";
  }
}
